---
import MainLayout from "../layouts/MainLayout.astro";

const pageTitle = "A One Global";
const pageDescription = "";
const pageKeywords = "";
const pageAuthor = "";
---

<!-- src/pages/index.astro -->
<MainLayout title={pageTitle} description={pageDescription} keywords={pageKeywords} author={pageAuthor}>
  <main></main>
</MainLayout>
