---
import Contact from "@components/Contact.astro";
import MainLayout from "../layouts/MainLayout.astro";

const pageTitle = "English Test Preparation Classes | A One Global";
const pageDescription = "Succeed in English exams by enrolling in specialist classes for thorough learning. For the SAT, TOEFL, or IELTS, we provide classes for everyone.";
const pageKeywords = "";
const pageAuthor = "";
---

<!-- src/pages/index.astro -->
<MainLayout title={pageTitle} description={pageDescription} keywords={pageKeywords} author={pageAuthor}>
  <main>
    <div class="container details">
      <div class="row">
        <div class="col-md-6 text-content">
          <h1>
            Expert Guidance Service To Improve Your English Proficiency Tests
            Score
          </h1>
          <p style="text-align: justify">
            <span style="font-weight: 400"
              >A One Global offers classes to prepare the candidates applying
              for abroad to study to achieve higher scores on their tests for
              a better chance at receiving scholarships and expediting the
              visa application process. These English proficiency tests like
              IELTS, PTE, SATs, TOEFL, etc. are mandatory requirements while
              applying for higher education, working abroad, or immigrating to
              international countries such as Canada, UK, Australia, etc. A
              high score on these tests facilitates the enrollment process of
              universities and colleges along with the process of acquiring
              visas and residency permits.</span
            >
          </p>
          <p style="text-align: justify">
            <span style="font-weight: 400"
              >In this preparation class, a course with comprehension
              instruction regarding the format of the tests will be discussed
              and they will be provided with strategies and tips to help them
              perform well on their exams. We coach you to enhance your
              grammar, vocabulary, and writing skills which helps you earn a
              higher score. We also give information about the structure of
              test, the kinds of questions that will be asked, and the time
              management techniques that can be applied to finish the exam on
              time.</span
            >
          </p>
          <p style="text-align: justify">
            <span style="font-weight: 400"
              >Mock tests and test simulations are conducted regularly with
              the actual process of examination to prep the students for their
              real test. The practice exams help students understand the
              different types of questions and how to respond to them.</span
            >
          </p>
          <a href="#book" class="custom-btn">Book an appointment</a>
        </div>
        <div class="col-md-6 img-div">
          <img
            width="433"
            height="465"
            src="https://theaoneglobal.com/wp-content/webp-express/webp-images/uploads/2021/12/05.-English-prep.png.webp"
            class="attachment-full size-full"
            alt=""
            decoding="async"
            srcset="
              https://theaoneglobal.com/wp-content/webp-express/webp-images/uploads/2021/12/05.-English-prep.png.webp         433w,
              https://theaoneglobal.com/wp-content/webp-express/webp-images/uploads/2021/12/05.-English-prep-279x300.png.webp 279w,
              https://theaoneglobal.com/wp-content/webp-express/webp-images/uploads/2021/12/05.-English-prep-361x388.png.webp 361w
            "
            sizes="(max-width: 433px) 100vw, 433px"
          />
        </div>
        <div class="col-12 notice-section">
          <p>
            Be a student as long as you still have something to learn, and
            this will mean all your life
          </p>
        </div>
      </div>
    </div>

    <div class="container">
      <Contact />
    </div>
  </main>
</MainLayout>
