---
import MainLayout from "../layouts/MainLayout.astro";
import CustomName from "@components/OurPartnersUK.astro";
import TestimonialsUK from "@components/TestimonialsUK.astro";

// page specific meta data
const pageTitle = "Study Abroad - Overseas Education Consultants | A One Global - India";
const pageDescription = "Study Overseas Consultants in India - Study abroad with A One Global, we help students to study overseas in Australia, USA, Canada, UK & Europe.";
const pageKeywords = "A One Global";
const pageAuthor = "A One Global";
---

<MainLayout title={pageTitle} description={pageDescription} keywords={pageKeywords} author={pageAuthor}>
  <main>
    <CustomName />
    <TestimonialsUK />
  </main>
</MainLayout>
