---
import Contact from "@components/Contact.astro";
import MainLayout from "../layouts/MainLayout.astro";

const pageTitle = "Study and Migration Abroad | A One Global";
const pageDescription = "Use A One Global Consultants' professional services to ensure a seamless transition for your visa relocation. Get in touch with us right now!.";
const pageKeywords = "";
const pageAuthor = "";
---

<!-- src/pages/index.astro -->
<MainLayout title={pageTitle} description={pageDescription} keywords={pageKeywords} author={pageAuthor}>
  <main>

    <div class="container details">
      <div class="row">
        <div class="col-md-6 text-content">
          <h1>
            Study and Migration Abroad Simplified: A One Global&#8217;s
            Hassle-Free Visa Assistance!
          </h1>
          <p style="text-align: justify">
            <span style="font-weight: 400"
              >Visa application can be a hassle while applying for study
              abroad. The visa and migration services of A One Global include
              navigating the students through their visa application from visa
              interviews to information on law implementation.</span
            >
          </p>
          <p style="text-align: justify">
            <span style="font-weight: 400"
              >Firstly, we let them know about the law and regulations
              regarding immigration to their destination including their visa
              validity and how it correlates with their study program. We
              assist the candidates with all the required documents
              preparation to present in front of government agencies. Along
              with that, we also support the process of deportation and
              settling in a foreign land from finding houses to employment. As
              the visa processing starts, we also prepare the candidates to
              excel in their visa interviews and receive instant visa
              approval.
            </span>
          </p>
          <p style="text-align: justify">
            The Australian Immigration System known as Depart of Home Affairs
            (DoHA) is one of the busiest with many Migration Visa Options
            available to eligible applicants. Our In House, Registered
            Migration Agent will assist you not only know your requirements
            but also assist you with the best possible available options.
          </p>
          <p>Some of the Migration Visa Categories are:</p>
          <ul>
            <li>Business Owner (subclass 890)</li>
            <li>Global Talent visa (subclass 858)</li>
            <li>Employer Nomination Scheme (subclass 186)</li>
            <li>Investor visa (subclass 891)</li>
            <li>
              Permanent Residence (Skilled Regional) visa (subclass 191)
            </li>
            <li>Regional Sponsored Migration Scheme (subclass 187)</li>
            <li>
              Skilled Employer Sponsored Regional (provisional) visa (subclass
              494)
            </li>
            <li>Skilled Independent visa (subclass 189)</li>
            <li>Skilled Nominated visa (subclass 190)</li>
            <li>Skilled-Recognised Graduate visa (subclass 476)</li>
            <li>Skilled Regional (provisional) visa (subclass 489)</li>
            <li>Skilled Regional visa (subclass 887)</li>
            <li>Skilled Work Regional (Provisional) visa (subclass 491)</li>
            <li>
              State or Territory Sponsored Business Owner visa (subclass 892)
            </li>
            <li>State or Territory Sponsored Investor visa (subclass 893)</li>
            <li>Temporary Activity visa (subclass 408)</li>
            <li>Temporary Graduate visa (subclass 485)</li>
            <li>
              Temporary Work (International Relations) visa (subclass 403)
            </li>
            <li>
              Temporary Work (Short Stay Specialist) visa (subclass 400)
            </li>
            <li>Temporary Skill Shortage visa (subclass 482)</li>
          </ul>
          <a href="#book" class="custom-btn">Book an appointment</a>
        </div>
        <div class="col-md-6 img-div">
          <img
            width="433"
            height="465"
            src="https://theaoneglobal.com/wp-content/webp-express/webp-images/uploads/2021/12/07.-visa-migration.png.webp"
            class="attachment-full size-full"
            alt=""
            decoding="async"
            srcset="
              https://theaoneglobal.com/wp-content/webp-express/webp-images/uploads/2021/12/07.-visa-migration.png.webp         433w,
              https://theaoneglobal.com/wp-content/webp-express/webp-images/uploads/2021/12/07.-visa-migration-279x300.png.webp 279w,
              https://theaoneglobal.com/wp-content/webp-express/webp-images/uploads/2021/12/07.-visa-migration-361x388.png.webp 361w
            "
            sizes="(max-width: 433px) 100vw, 433px"
          />
        </div>
        <div class="col-12 notice-section">
          <p>Your one stop solution</p>
        </div>
      </div>
    </div>
    <div class="container">
      <Contact />
    </div>


  </main>
</MainLayout>
