---
import Image from 'astro/components/Image.astro'
import whyAoneImg from '@assets/img/why-aone.webp'
---



<!-- About-2 area start here -->
<section class="about-area-2 pt-90 pb-85 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
    <div class="container">
        <div class="row">
            <div class="col-xxl-6 col-xl-6 col-lg-6 mb-30">
                <div class="about2-left d-flex">
                    <!-- <div class="about2-left__img1 mr-10">
                        <Image src={whyAoneImg} alt="">
                    </div> -->
                    <div class="about2-left__img2">
                        <Image src={whyAoneImg} alt="">
                        <div class="about2-left__info d-flex align-items-center">
                            <div class="about2-left__info__left mr-15">
                                <img src="assets/img/about-2/seal.png" alt="">
                            </div>
                            <div class="about2-left__info__right">
                                <h4>ISO Certified</h4>
                                <p>1990-2000</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xxl-6 col-xl-6 col-lg-6 mb-30">
                <div class="section_title_wrapper">
                    <span class="subtitle">
                        Why Choose A ONE Global ?
                    </span>                       
                    <h2 class="section-title about-span mb-30">
                        <span>25+</span>  Years of Your Trust <br> and Recommendation
                    </h2>
                    <div class="section_title_wrapper__about-content mb-40">
                        <p>For the last 25 years, We have helped students, business persons, tourists, clients with medical needs. There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration</p>
                        
                    </div>
                </div>
                <div class="about-trust">
                    <div class="row">
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                            <div class="about2__item d-flex  mb-20 mr-20">
                                <div class="about2__icon">
                                    <i class="flaticon-fair-trade"></i>
                                </div>
                                <div class="about2__content">
                                    <p class="h5 oswald">Trusted by Millions</p>
                                    <p>Most trusted & recommended by millions of students</p>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
                            <div class="about2__item about2-border d-flex  mb-30 mr-20">
                                <div class="about2__icon">
                                    <i class="flaticon-trophy"></i>
                                </div>
                                <div class="about2__content">
                                    <p class="h5 oswald">Awards Winner</p>
                                    <p>Most trusted & recommended by millions of students</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- <a href="" class="theme-btn">Read More</a> -->
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About-2 area end here -->
