---
import SideForm from './SideForm.astro'
---


<div class="united-stats-area pt-120">
    <div class="container">
        <div class="row">
            <div class="col-xxl-4 col-xl-4 col-lg-4">
                <div class="sidebar-left__wrapper">
                <div class="sidebar__widget mb-30">
                    <div class="sidebar__widget-content">
                          <div class="cat-link">
                             <ul>
                                <li><a class="vrbg" href="">United States </a></li>
                                <li><a  href="">Australia</a></li>
                                <li><a href="">Bangladesh</a></li>
                                <li><a href="">Switzerland</a></li>
                                <li><a href="">Norway</a></li>
                                <li><a href="">Germany</a></li>
                                <li><a href="">United Kingdom</a></li>
                                <li><a href="">France</a></li>
                                <li><a href="">South Africa</a></li>
                                <li><a href="">Canada</a></li>
                                <li><a href="">Denmark</a></li>
                             </ul>
                          </div>
                    </div>
                 </div>
                 <div class="sidebar__widget mb-30 theme-bg pd-30">
                    <div class="sidebar__widget-title title-white mb-40">
                        <h4>Download</h4>
                    </div>
                    <div class="sidebar__widget-content">
                            <ul>
                               <li class="d-flex align-items-center mb-20 pdf-btm-border">
                                     <div class="docu__thumb mr-15">
                                        <a href="/contact-us"><i class="fas fa-file-pdf"></i></a>
                                     </div>
                                     <div class="docu__text">
                                        <h6><a href="/contact-us">Service Broohoru</a></h6>
                                        <p>PDF<span>12Mb</span></p> 
                                     </div>
                               </li>
                               <li class="d-flex align-items-center mb-20 pdf-btm-border">
                                    <div class="docu__thumb mr-15">
                                        <a href="/contact-us"><i class="fas fa-file-pdf"></i></a>
                                    </div>
                                    <div class="docu__text">
                                        <h6><a href="/contact-us">Visa Application Form</a></h6>
                                        <p>PDF<span>12Mb</span></p> 
                                    </div>
                                 </li>
                                 <li class="d-flex align-items-center mb-20 pdf-btm-border pdf-btm-none">
                                    <div class="docu__thumb mr-15">
                                        <a href="/contact-us"><i class="fas fa-file-pdf"></i></a>
                                    </div>
                                    <div class="docu__text">
                                        <h6><a href="/contact-us">Admission Form</a></h6>
                                        <p>PDF<span>12Mb</span></p> 
                                    </div>
                                 </li>
                            </ul>
                         </div>
                    </div>
                    <SideForm />

                    <div class="sidebar__widget mb-30">
                        <div class="sidebar__widget-content">
                              <div class="sidebar__widget-content-banner">
                                  <img src="assets/img/business-visa/business-adds.jpg" alt="">
                                  <div class="sidebar__widget-content-banner-text">
                                      <span>Higher Study</span>
                                       <h2>In Austalia</h2>
                                       <a href="" class="banner-btn">Apply Visa</a>
                                  </div>
                              </div>
                        </div>
                     </div>
                </div>
            </div>
            <div class="col-xxl-8 col-xl-8 col-lg-8">
                <div class="sidebar__deatils">
                    <div class="united-states">
                        <div class="united-states__thumb mb-40">
                            <img src="assets/img/united-states/united-details.jpg" alt="">
                        </div>
                        <h3 class="united-states__title mb-15">
                            United States
                        </h3>
                        <p class="mb-30">The United States of America, commonly known as the United States or America, is a country primarily located in North America. It consists of 50 states, a federal district, five major unincorporated territories, 326 Indian reservations, and some minor possessions. At 3.8 million square miles, it is the world's third- or fourth-largest country by total area.
                        </p>
                        <p class="mb-25">The United States of America, commonly known as the United States or America, is a country primarily located in North America. It consists of 50 states, a federal district, five major unincorporated territories, 326 Indian reservations, and some minor possessions. At 3.8 million square miles, it is the world's third- or fourth-largest country by total area.
                        </p>
                    </div>
                    <div class="united-information pb-30">
                        <div class="row align-items-center">
                            <div class="col-xxl-7 col-xl-7 col-lg-7">
                                <div class="united-info">
                                    <ul>
                                        <li><span>Full Name</span>: <span>United States of America</span></li>
                                        <li><span>Population</span>: <span>(2010) 308,745,538</span></li>
                                        <li><span>Capital</span>: <span>Washington DC</span></li>
                                        <li><span>Largest city</span>: <span>New York</span></li>
                                        <li><span>Currency</span>: <span>US dollar</span></li>
                                        <li><span>Area</span>: <span>3,796,742 SQ MI</span></li>
                                        <li><span>Major Language</span>: <span>English</span></li>
                                        <li><span>Major Religion</span>: <span>Christianity</span></li>
                                        <li><span>Life Style & Culture</span>: <span>American</span></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-xxl-5 col-xl-5 col-lg-5">
                                <div class="united-thumb">
                                    <img src="assets/img/united-states/united-flag.png" alt="">
                                </div>
                            </div>
                        </div>
                    </div>
                    
                    <h3 class="united-states__title2 mb-25">
                        Why Choose United States
                    </h3>
                    <p class="mb-35">The city was named for Lewis Kingman, a civil engineer for what was then the Atchison, Topeka and Santa Fe Railroad constructed there in the 1880s. Ghost towns in the area attest to the lode mines that once yielded many millions of dollars in gold. Tourism, manufacturing and distribution.
                    </p>
                    <h3 class="united-states__title3 mb-25">
                        Life Styles
                    </h3>
                    <p class="mb-35">An applicant should apply at center in or closest to, the city in which you are documented as being a resident. Please contact VFS Global if you have any doubts. This crossword explores the various paths humankind can follow to create a more sustainable world. Find out how many ways we can change our approach to the environment
                    </p>
                    <h3 class="united-states__title3 mb-20">
                        Law & Rules
                    </h3>
                    <p class="mb-35">The United States of America, commonly known as the United States or America, is a country primarily located in North America. It consists of 50 states, a federal district, five major unincorporated territories, 326 Indian reservations, and some minor possessions. At 3.8 million square miles, it is the world's third- or fourth-largest country by total area.
                    </p>

                <div class="beautiful-cities mb-10">
                    <div class="row">
                        <div class="col-xxl-8 col-xl-8 col-lg-8">
                            <div class="beautiful-cites">
                                <h3 class="united-states__title3 mb-15">
                                    Beautiful Cities
                                </h3>
                                <p class="mb-25">This is a list of selected cities, towns, and other populated places in the United States, ordered alphabetically by state.
                                </p>
                                <div class="beautiful-link mb-30">
                                    <ul>
                                        <li><a class="active" href="#0">New York,</a></li>
                                        <li><a href="#0">Chicago, </a></li>
                                        <li><a href="#0">Washington DC,  </a></li>
                                        <li><a href="#0">Alabama, </a></li>
                                        <li><a href="#0">California, </a></li>
                                        <li><a href="#0">Florida, </a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-xxl-4 col-xl-4 col-lg-4">
                            <div class="beautiful-cites-place">
                                <img src="assets/img/united-states/butifull.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>

                <h3 class="united-states__title3 mb-20">
                    Universities
                </h3>
                <p class="mb-30">University, institution of higher education, usually comprising a college of liberal arts and sciences and graduate and professionals. The short story shut a final door and other tales of loveless.
                </p>
                <div class="ranking-table mb-45">
                    <table class="table table-bordered" style="width:100%">
                        <tr class="table-control">
                            <th >SL </th>
                            <th>Name of Universities</th>
                            <th>Ranking</th>
                        </tr>
                        <tr class="table-control">
                            <td>01</td>
                            <td>Harvard Universitu</td>
                            <td>01</td>
                        </tr>
                        <tr class="table-control">
                            <td>02</td>
                            <td>Johns Hopkins University</td>
                            <td>02</td>
                        </tr>
                        <tr class="table-control">
                            <td>03</td>
                            <td>California Institute of Technology - Caltech</td>
                            <td>03</td>
                        </tr>
                        <tr class="table-control">
                            <td>04</td>
                            <td>Princeton University</td>
                            <td>04</td>
                        </tr>
                        <tr class="table-control">
                            <td>05</td>
                            <td>University of California, Berkeley</td>
                            <td>05</td>
                        </tr>
                        <tr class="table-control">
                            <td>06</td>
                            <td>Yale University</td>
                            <td>06</td>
                        </tr>
                        <tr class="table-control">
                            <td>07</td>
                            <td>Massachusetts Institute of Technology (MIT)</td>
                            <td>07</td>
                        </tr>
                        <tr class="table-control">
                            <td>08</td>
                            <td>University of Chicago</td>
                            <td>08</td>
                        </tr>
                        <tr class="table-control">
                            <td>09</td>
                            <td>University of Pennsylvania</td>
                            <td>09</td>
                        </tr>
                        <tr class="table-control">
                            <td>10</td>
                            <td>Stanford University</td>
                            <td>10</td>
                        </tr>
                        </table>
                </div>
                <div class="historical-places">
                    <h3 class="united-states__title3 mb-20">
                        Historical Places
                    </h3>
                    <p class="mb-40">An applicant should apply at center in or closest to, the city in which you are documented as being a resident. Please contact VFS Global if you have any doubts as to where to make your application. Applicants are permitted.
                    </p>
                    <div class="historical-places__thumb d-flex align-items-center">
                        <div class="historical-places__thumb-left mr-30">
                            <img src="assets/img/united-states/histry-1.jpg" alt="">
                        </div>
                        <div class="historical-places__thumb-right">
                            <img src="assets/img/united-states/histry-2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>
