    <!-- Country-all start -->
    <section class="country-all">
        <div class="container">
          <div class="brand-active owl-carousel">
            <div class="country_item__wrapper">
              <div class="country_item__wrapper__top">
                <div class="country_item__wrapper__top__img">
                  <img src="/img/country-img/c-1.jpg" alt="" />
                </div>
                <div class="country_item__wrapper__top__icon">
                  <a href=""><i class="fal fa-plus"></i></a>
                </div>
              </div>
              <div class="country_item__wrapper__bottom">
                <h4 class="country_item__wrapper__bottom__title">
                  <a href="">New Zealand</a>
                </h4>
              </div>
            </div>
  
            <div class="country_item__wrapper">
              <div class="country_item__wrapper__top">
                <div class="country_item__wrapper__top__img">
                  <img src="/img/country-img/c-2.jpg" alt="" />
                </div>
                <div class="country_item__wrapper__top__icon">
                  <a href=""><i class="fal fa-plus"></i></a>
                </div>
              </div>
              <div class="country_item__wrapper__bottom">
                <h4 class="country_item__wrapper__bottom__title">
                  <a href="">United States</a>
                </h4>
              </div>
            </div>
            <div class="country_item__wrapper">
              <div class="country_item__wrapper__top">
                <div class="country_item__wrapper__top__img">
                  <img src="/img/country-img/c-3.jpg" alt="" />
                </div>
                <div class="country_item__wrapper__top__icon">
                  <a href=""><i class="fal fa-plus"></i></a>
                </div>
              </div>
              <div class="country_item__wrapper__bottom">
                <h4 class="country_item__wrapper__bottom__title">
                  <a href="">United Kingdom</a>
                </h4>
              </div>
            </div>
            <div class="country_item__wrapper">
              <div class="country_item__wrapper__top">
                <div class="country_item__wrapper__top__img">
                  <img src="/img/country-img/c-4.jpg" alt="" />
                </div>
                <div class="country_item__wrapper__top__icon">
                  <a href=""><i class="fal fa-plus"></i></a>
                </div>
              </div>
              <div class="country_item__wrapper__bottom">
                <h4 class="country_item__wrapper__bottom__title">
                  <a href="">Switzerland</a>
                </h4>
              </div>
            </div>
            <div class="country_item__wrapper">
              <div class="country_item__wrapper__top">
                <div class="country_item__wrapper__top__img">
                  <img src="/img/country-img/c-3.jpg" alt="" />
                </div>
                <div class="country_item__wrapper__top__icon">
                  <a href=""><i class="fal fa-plus"></i></a>
                </div>
              </div>
              <div class="country_item__wrapper__bottom">
                <h4 class="country_item__wrapper__bottom__title">
                  <a href="">United States</a>
                </h4>
              </div>
            </div>
          </div>
        </div>
      </section>
      <!-- Country-all end -->
  