---
import Image from "astro/components/Image.astro";
import ctaImg from "@assets/img/course/ctaImg.png";
---

<!-- Calltoaction area start -->
<section class="calltoaction-area d-flex align-items-center mb-80">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-xxl-3 col-xl-3 col-lg-3">
        <div class="calltoaction-img">
          <!-- <Image src={ctaImg} alt="" /> -->
        </div>
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-8">
        <p class="h4 oswald calltoaction-title pt-80 pb-75" style="color:rgb(255, 28, 28)">
          Get Skilled Job In Abroad By Taking Our Help In Your Study Abroad Admission Journey
        </p>
      </div>
      <div class="col-xxl-3 col-xl-3 col-lg-3 col-md-4">
        <div class="calltoaction-btn text-right">
          <a href="/contact-us" onclick=openPopup() class="theme-btn cl-btn">Apply Now</a>
        </div>
      </div>
    </div>
  </div>
</section>