<!-- Contact  area start -->
<div class="contact__area">
  <div class="contact__vmap">
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d7007.110436590229!2d77.069049!3d28.583116!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390d1b16f0b7689d%3A0x23506d2c8dd90879!2sVardhman%20Star%20City%20Mall%2C%20VARDHMAN%20MALL-2%2C%20Sector%207%20Dwarka%2C%20Dwarka%2C%20Delhi%2C%20110075!5e0!3m2!1sen!2sin!4v1718439461212!5m2!1sen!2sin" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe> -->
  </div>
  <div class="container">
    <div class="row">
      <div class="col-xxl-12 col-xl-12 col-lg-12">
        <div class="contact__form pt-110">
          <h2 class="contact-form__title">Eligibility Test</h2>
          <form id="eligibility-form" action="https://example.com/submit-form" method="POST">
            <div class="row">
              <div class="col-xl-6">
                <input name="full_name" class="contact__input" type="text" placeholder="Full Name" required />
              </div>
              <div class="col-xl-6">
                <input name="email" class="contact__input" type="email" placeholder="Email" required />
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <input name="phone" class="contact__input" type="text" placeholder="Phone" required />
              </div>
              <div class="col-xl-6">
                <select name="country" class="contact__input" required>
                  <option value="Australia">Australia</option>
                  <!-- Add other countries as needed -->
                </select>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <label>Have you done?</label>
                <div class="contact__input">
                  <input type="checkbox" name="exam" value="IELTS" /> IELTS
                  <input type="checkbox" name="exam" value="GRE" /> GRE
                  <input type="checkbox" name="exam" value="SAT" /> SAT
                  <input type="checkbox" name="exam" value="PTE" /> PTE
                </div>
              </div>
              <div class="col-xl-6">
                <input name="score" class="contact__input" type="text" placeholder="Score" />
              </div>
            </div>
            <div class="row">
              <div class="col-xl-6">
                <input name="faculty" class="contact__input" type="text" placeholder="Faculty" />
              </div>
              <div class="col-xl-6">
                <input name="level" class="contact__input" type="text" placeholder="Level" />
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <input type="checkbox" name="terms" required /> I agree to the <a href="#">Terms of Use</a>
              </div>
            </div>
            <div class="row">
              <div class="col-xl-12">
                <button class="theme-btn" type="submit">Submit</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact  area end -->

<!-- Contact group info start -->
<div class="contact-group-area pb-70 pt-145">
  <div class="container">
    <div class="row">
      <div class="col-xxl-4 col-xl-6 col-lg-6">
        <div class="contact__gpinfo grey-soft2-bg mb-50">
          <div class="contact__gpinfo-icon text-center">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="contact__gpinfo-content">
            <h3 class="contact__gpinfo-content-title text-center mb-25">Delhi Branch</h3>
            <ul>
              <li>
                <a href="/contact-us">
                  <span>Address</span>:
                  <p>Delhi: E - 561, Third Floor, Above Bikaner Sweets, Palam Extension, Dwarka Sec 7, Near Vardhman Star City Mall, New Delhi 110045</p></a
                >
              </li>
              <li>
                <a href="mailto:info@theaoneglobal.com">
                  <span>Email</span>:
                  <p><span>info@theaoneglobal.com</span></p></a
                >
              </li>
              <li>
                <a href="tel:+919821670673">
                  <span>Phone</span>:
                  <p>+919821670673</p>
                </a>
              </li>
              <li>
                <a href="#"
                  ><span>Opening</span>:
                  <p>Sun - Thu : 10 AM - 6 PM</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-6 col-lg-6">
        <div class="contact__gpinfo grey-soft2-bg mb-50">
          <div class="contact__gpinfo-icon text-center">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="contact__gpinfo-content">
            <h3 class="contact__gpinfo-content-title text-center mb-25">Kathmandu Branch</h3>
            <ul>
              <li>
                <a href="/contact-us">
                  <span>Address</span>:
                  <p>1St Floor, Samsung Plaza, Bijulibazar</p></a
                >
              </li>
              <li>
                <a href="https://wphix.com/cdn-cgi/l/email-protection#f79e999198b7928f969a879b92d994989a">
                  <span>Email</span>:
                  <p><span>info@theaoneglobal.com</span></p></a
                >
              </li>
              <li>
                <a href="tel:+977-1-5903756">
                  <span>Phone</span>:
                  <p>+977-1-5903756</p>
                </a>
              </li>
              <li>
                <a href="#"
                  ><span>Opening</span>:
                  <p>Sun - Thu : 10 AM - 10 PM</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-6 col-lg-6">
        <div class="contact__gpinfo grey-soft2-bg mb-50">
          <div class="contact__gpinfo-icon text-center">
            <i class="fas fa-map-marker-alt"></i>
          </div>
          <div class="contact__gpinfo-content">
            <h3 class="contact__gpinfo-content-title text-center mb-25">Butwal Branch</h3>
            <ul>
              <li>
                <a href="/contact-us">
                  <span>Address</span>:
                  <p>Milanchowk, Opposite Siddhartha Bank</p></a
                >
              </li>
              <li>
                <a href="https://wphix.com/cdn-cgi/l/email-protection#10797e767f507568717d607c753e737f7d">
                  <span>Email</span>:
                  <p><span>info@theaoneglobal.com </span></p></a
                >
              </li>
              <li>
                <a href="tel:071530406">
                  <span>Phone</span>:
                  <p>071530406</p>
                </a>
              </li>
              <li>
                <a href="#"
                  ><span>Opening</span>:
                  <p>Sun - Thu : 10 AM - 10 PM</p>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Contact group info end -->
