---
import SideForm from "./SideForm.astro";
---

<!-- faq-area start -->
<div class="ab-tabs pt-110 pb-120">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-10">
        <div class="section_title_wrapper text-center mb-50 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
          <h2 class="section-title">Frequently Asked Questions</h2>
        </div>
      </div>
    </div>
   <div class="row">
    <div class="col-xxl-8 col-xl-8 col-lg-8 col-md-8 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
        <div class="tab-content mb-30" id="pills-tabContent">
            <div class="tab-pane fade show active" id="pills-home-1" role="tabpanel" aria-labelledby="pills-home-tab-1">
               <div class="faq-content faq-white">
    <div class="accordion" id="accordionExample-1">
        <div class="accordion-item">
            <p class="h2 oswald accordion-header" id="headingOne-1">
                <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne-1" aria-expanded="true" aria-controls="collapseOne-1">
                    How do you apply to study in the UK?
                </button>
            </p>
            <div id="collapseOne-1" class="accordion-collapse collapse show" aria-labelledby="headingOne-1" data-bs-parent="#accordionExample-1">
                <div class="accordion-body">
                    <p>Typically, you need to find a course and a university before applying online or through UCAS (Universities and Colleges Admissions Service).</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <p class="h2 oswald accordion-header" id="headingTwo-1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseTwo-1" aria-expanded="false" aria-controls="collapseTwo-1">
                    What are the visa requirements for studying in the UK?
                </button>
            </p>
            <div id="collapseTwo-1" class="accordion-collapse collapse" aria-labelledby="headingTwo-1" data-bs-parent="#accordionExample-1">
                <div class="accordion-body">
                    <p>You'll require a Level 4 (General) student visa, acknowledgment into a course at an authorized establishment, evidence of English capability, and monetary means to help yourself.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <p class="h2 oswald accordion-header" id="headingThree-1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree-1" aria-expanded="false" aria-controls="collapseThree-1">
                    How much does it cost to study in the UK?
                </button>
            </p>
            <div id="collapseThree-1" class="accordion-collapse collapse" aria-labelledby="headingThree-1" data-bs-parent="#accordionExample-1">
                <div class="accordion-body">
                    <p>The cost of tuition varies from £10,000 to £30,000 per year, depending on the course and the university. Everyday costs add another £8,000 to £12,000 yearly.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <p class="h2 oswald accordion-header" id="headingThree1-1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree1-1" aria-expanded="false" aria-controls="collapseThree1-1">
                    Are scholarships available for international students in the UK?
                </button>
            </p>
            <div id="collapseThree1-1" class="accordion-collapse collapse" aria-labelledby="headingThree1-1" data-bs-parent="#accordionExample-1">
                <div class="accordion-body">
                    <p>Indeed, there are different scholarships and financial aid choices accessible to worldwide students. These scholarships are presented by the UK government, colleges, and outside organizations.</p>
                </div>
            </div>
        </div>
        <div class="accordion-item">
            <p class="h2 oswald accordion-header" id="headingThree2-1">
                <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseThree2-1" aria-expanded="false" aria-controls="collapseThree2-1">
                    How do you find accommodation in the UK?
                </button>
            </p>
            <div id="collapseThree2-1" class="accordion-collapse collapse" aria-labelledby="headingThree2-1" data-bs-parent="#accordionExample-1">
                <div class="accordion-body">
                    <p>On-campus housing is available at many universities, and off-campus private rental options are also available. You can look for a place to live through the accommodation office at your university, websites that offer student housing, or private rental agencies. To find the best options, it's important to start looking early.</p>
                </div>
            </div>
        </div>
    </div>
</div>

            </div>
        </div>
    </div>
    <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 wow fadeInUp" data-wow-delay="0.5s" style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;">
        <SideForm />
    </div>
</div>

  </div>
</div>
<!-- faq-area end -->