    <!-- featurs area start here -->
    <section class="featurs-services pt-110 pb-90">
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-xxl-10">
            <div
              class="section_title_wrapper text-center mb-50 wow fadeInUp"
              data-wow-delay="0.3s"
              style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"
            >
              <span class="subtitle"> Featured Services </span>
              <h2 class="section-title">
                We Provide Visa & Immigration Service <br /> From Experienced Lawyers
              </h2>
            </div>
          </div>
        </div>
        <div class="row">
          <div
            class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 mb-30 wow fadeInUp"
            data-wow-delay="0.3s"
            style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;"
          >
            <div class="features">
              <div class="features__thumb">
                <a href=""
                  ><img src="/img/menu-icon/chatting.png" alt="" /></a
                >
              </div>
              <div class="features__content">
                <h3 class="features__content-title">
                  <a href="">Business Visa</a>
                </h3>
                <p>
                  We helped with other family based employment based and
                  investment based Immigration.
                </p>
                <a href=""
                  >Read More <i class="fal fa-long-arrow-right"></i></a
                >
              </div>
            </div>
          </div>
          <div
            class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 mb-30 wow fadeInUp"
            data-wow-delay="0.5s"
            style="visibility: visible; animation-delay: 0.5s; animation-name: fadeInUp;"
          >
            <div class="features">
              <div class="features__thumb">
                <a href=""
                  ><img src="/img/features/features-2.jpg" alt="" /></a
                >
              </div>
              <div class="features__content">
                <h3 class="features__content-title">
                  <a href="">Students Visa </a>
                </h3>
                <p>
                  We helped with other family based employment based and
                  investment based Immigration.
                </p>
                <a href=""
                  >Read More <i class="fal fa-long-arrow-right"></i></a
                >
              </div>
            </div>
          </div>
          <div
            class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 mb-30 wow fadeInUp"
            data-wow-delay="0.7s"
            style="visibility: visible; animation-delay: 0.7s; animation-name: fadeInUp;"
          >
            <div class="features">
              <div class="features__thumb">
                <a href=""
                  ><img src="/img/featurs/featurs-3.jpg" alt="" /></a
                >
              </div>
              <div class="features__content">
                <h3 class="features__content-title">
                  <a href="">Work & Job Visa</a>
                </h3>
                <p>
                  We helped with other family based employment based and
                  investment based Immigration.
                </p>
                <a href=""
                  >Read More <i class="fal fa-long-arrow-right"></i></a
                >
              </div>
            </div>
          </div>
          <div
            class="col-xxl-3 col-xl-3 col-lg-4 col-md-6 wow fadeInUp"
            data-wow-delay="0.9s"
            style="visibility: visible; animation-delay: 0.9s; animation-name: fadeInUp;"
          >
            <div class="features">
              <div class="features__thumb">
                <a href=""
                  ><img src="/img/featurs/featurs-4.jpg" alt="" /></a
                >
              </div>
              <div class="features__content">
                <h3 class="features__content-title">
                  <a href="">Tourist & Visitor Visa</a>
                </h3>
                <p>
                  We helped with other family based employment based and
                  investment based Immigration.
                </p>
                <a href=""
                  >Read More <i class="fal fa-long-arrow-right"></i></a
                >
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- featurs area end here -->
