<!-- Globall area start -->
<section class="global-area pt-120 pb-120">
  <div class="container">
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
        <div class="section_title_wrapper global-text mb-30">
          <span class="subtitle"> Global Visa Business </span>
          <h2 class="section-title">
            We Work Globally With Partners In 80+ Popular Countries
          </h2>
          <p>
            We have helped students, business persons, tourists, clients with
            medical needs to acquire U.S. visas. Besides, we also help with
            other family and provide counselling services for immigration
          </p>
          <div class="global-subscribe">
            <form action="#">
              <input type="email" placeholder=" Enter you NID No" />
              <button type="submit"
                >Check Availability <i class="fal fa-long-arrow-right"
                ></i></button
              >
            </form>
          </div>
        </div>
      </div>
      <div class="col-xxl-6 col-xl-6 col-lg-6 col-md-6">
        <div class="global-area-img">
          <img src="/img/globall/Map.png" alt="" />
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Globall area end -->
