---
export interface Props {
  title?: string;
  description?: string;
  keywords?: string;
  author?: string;
}

const { title = "Default Title", description = "Default Description", keywords = "default, keywords", author = "Default Author" } = Astro.props;
---

<!-- src/components/Head.astro -->
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>{title}</title>
  <meta name="description" content={description} />
  <meta name="keywords" content={keywords} />
  <meta name="author" content={author} />
  <!-- favicon  -->
  <link rel="icon" href="/favicon.ico" />
  <!-- Add more meta tags or link tags here as needed -->
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.9.0/css/all.min.css"
    integrity="sha512-q3eWabyZPc1XTCmF+8/LuE1ozpg5xxn7iO89yfSOd5/oKvyqLngoNGsx8jq92Y8eXJ/IRxQbEC+FGSYxtk2oiw=="
    crossorigin="anonymous"
    referrerpolicy="no-referrer"
  />
</head>
