---
import Image from "astro/components/Image.astro";
import heroImg from "@assets/img/hero/banner.jpg";
---

<section>
  <div class="hero-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12">
          <div class="hero-content">
            <div class="hero-content-inner">
              <p class="hero-subtitle brand-color2">Pioneer of Overseas Education</p>
              <h1 class="hero-title section-title brand-color ">Study Abroad Consultant</h1>
              <p class="hero-text text-dark">
                A One Global is one of the Professtional Overseas Education Consultant in India, helping students to study overseas in Australia, the USA, Canada, UK & Other top Abroad Destination. We Deliver
                the Best information and innovative service, Ensure student success and excellent career and Bright future.
              </p>
              <a href="/contact-us" class="theme-btn">Contact Now</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>