---
import SideForm from './SideForm.astro'
---
<!-- The Popup 2 -->
<div id="popupForm2" class="popup">
  <div class="popup-content">
    <span class="closeBtn">&times;</span>
    <SideForm/>
  </div>
</div>
