<!-- features services start -->
<section class="features-services pt-80 pb-120 wow fadeInUp" data-wow-delay="0.3s" style="visibility: visible; animation-delay: 0.3s; animation-name: fadeInUp;">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-10">
        <div class="section_title_wrapper text-center mb-50">
          <span class="subtitle"> Featured Services </span>
          <h2 class="section-title">Our Services</h2>
        </div>
      </div>
    </div>
    <div class="row g-0">
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
        <div class="features2">
          <div class="features2__contant d-flex align-items-center mb-20">
            <div class="features2__icon mr-15">
              <i class="fas fa-university"></i>
            </div>
            <h3 class="features2__title">
              <a href=""> University Admission</a>
            </h3>
          </div>
          <div class="features2__wrapper">
            <p class="features2__wrapper__subtitle mb-25">University Admission in higher education is designed for professionals seeking to make an impact on the student affairs track</p>
            <a class="browse-link read-more" href="">View Programs <i class="fal fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
        <div class="features2">
          <div class="features2__contant d-flex align-items-center mb-20">
            <div class="features2__icon mr-15">
              <i class="fas fa-briefcase"></i>
            </div>
            <h3 class="features2__title">
              <a href=""> Work Permit Process</a>
            </h3>
          </div>
          <div class="features2__wrapper">
            <p class="features2__wrapper__subtitle mb-25">Work permit approval in higher education is designed for career professionals seeking to make an impact on the student affairs track</p>
            <a class="browse-link read-more" href="">View Programs <i class="fal fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
        <div class="features2">
          <div class="features2__contant d-flex align-items-center mb-20">
            <div class="features2__icon mr-15">
              <i class="fas fa-hands"></i>
            </div>
            <h3 class="features2__title">
              <a href="">Health Insurance </a>
            </h3>
          </div>
          <div class="features2__wrapper">
            <p class="features2__wrapper__subtitle mb-25">Health & Medical in higher education is designed for early-career professionals seeking to make an impact on the student affairs track</p>
            <a class="browse-link read-more" href="">View Programs <i class="fal fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
        <div class="features2">
          <div class="features2__contant d-flex align-items-center mb-20">
            <div class="features2__icon mr-15">
              <i class="fas fa-money-check-alt"></i>
            </div>
            <h3 class="features2__title">
              <a href=""> Overseas Internship</a>
            </h3>
          </div>
          <div class="features2__wrapper">
            <p class="features2__wrapper__subtitle mb-25">
              If you want to intern in higher education is designed for early-career professionals seeking to make an impact on the student affairs track
            </p>
            <a class="browse-link read-more" href="">View Programs <i class="fal fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
        <div class="features2">
          <div class="features2__contant d-flex align-items-center mb-20">
            <div class="features2__icon mr-15">
              <i class="fas fa-hand-holding-usd"></i>
            </div>
            <h3 class="features2__title">
              <a href=""> Education Loan</a>
            </h3>
          </div>
          <div class="features2__wrapper">
            <p class="features2__wrapper__subtitle mb-25">We manage the loan in higher education is designed for early-career professionals seeking to make an impact on the student affairs track</p>
            <a class="browse-link read-more" href="">View Programs <i class="fal fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
      <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-6">
        <div class="features2">
          <div class="features2__contant d-flex align-items-center mb-20">
            <div class="features2__icon mr-15">
              <i class="fas fa-hands-helping"></i>
            </div>
            <h3 class="features2__title">
              <a href="">Coaching Assistance</a>
            </h3>
          </div>
          <div class="features2__wrapper">
            <p class="features2__wrapper__subtitle mb-25">Students need help in higher education is designed for early-career professionals seeking to make an impact on the student affairs track</p>
            <a class="browse-link read-more" href="">View Programs <i class="fal fa-long-arrow-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- features services end -->
