<div class="faqfrm__visa">
  <div class="sidebar-title mb-40">
    <p class="h5 oswald text-danger" style="font-size:2rem; text-align:center;">Take the first step towards studying abroad</p>
  </div>

  <div class="faqfrm__visa-form">
    <form action="#">
      <input type="text" placeholder="Name*" />
      <input type="email" placeholder="Email*" />
      <input type="tel" placeholder="Phone*" />
      <select style="display: none;">
        <option>Australia</option>
        <option>Canada</option>
        <option>UK</option>
        <option>USA</option>
        <option>Europe</option>
      </select><div class="nice-select" tabindex="0">
        <span class="current"> Destination You Are Intrested in</span>
        <ul class="list">
          <li data-value="Subject" class="option selected focus">Subject</li>
          <li data-value="Australia" class="option">Australia</li>
          <li data-value="Canada" class="option">Canada</li>
          <li data-value="UK" class="option">UK</li>
          <li data-value="USA" class="option">USA</li>
          <li data-value="Europe" class="option">Europe</li>
        </ul>
      </div>
      <textarea cols="30" rows="10"></textarea>
      <div class="text-center">
        <button class="theme-btn">Submit Now</button>
      </div>
    </form>
  </div>
</div>
