<section>
  <div class="container">
    <div class="row">
      <div class="section-divider"></div>

      <div class="col-xxl-3 col-xl-3 col-lg-3">
        <ul class="nav nav-tabs" style="flex-direction: column;" id="mainTabs">
          <li class="nav-item">
            <a class="nav-link active" href="#VISA_Requirements" data-toggle="tab">VISA Requirements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Study_Cost" data-toggle="tab">Study Cost</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Scholarship_Opportunity" data-toggle="tab">Scholarship Opportunity</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Intake_Details" data-toggle="tab">Intake Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#top_universities" data-toggle="tab">Top Universities</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Living_Costs" data-toggle="tab">Living Costs</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#life_in_canada" data-toggle="tab">Life in Canada</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#Conclusion" data-toggle="tab">Conclusion</a>
          </li>
        </ul>
      </div>

      <div class="col-xxl-9 col-xl-9 col-lg-9">
        <!-- Country Content -->
        <div class="tab-content">
          <!-- UK Content -->
          <div class="tab-pane active" id="VISA_Requirements">
            <h2 class="mb-15">VISA Requirements</h2>
            <p>
              A study permit, also known as a student visa, is typically required to study in Canada. A letter of acceptance from an accredited educational institution and proof of funds to cover
              tuition, living expenses, and return transportation are required. In addition, you must be healthy and may need to have medical tests done. In order to demonstrate their clean record,
              some applicants may also be required to submit a police certificate. It's important to check specific guidelines because requirements can vary by country. On official government websites
              or through the Canadian embassy or consulate in your nation, you can find information regarding the requirements for a visa to study in Canada. You can also find comprehensive
              information about the visa requirements for studying in Canada here.
            </p>
            <p>
              Before you apply for a study permit, you need:
              <ul>
                <li>A letter of acceptance from designated learning institution</li>
                <li>A valid passport</li>
                <li>A provincial attestation letter from the province or territory where you plan to study</li>
                <li>Proof of financial support</li>
              </ul>
            </p>
          </div>

          <!-- Australia Content -->
          <div class="tab-pane" id="Study_Cost">
            <h3 class="united-states__title mb-15">Study Cost in Canada</h3>
            <p>While studying in Canada can be a rewarding experience, it is important to be aware of the costs. The cost of tuition varies by province, program, and institution.</p>
            <p>The following table provides a comprehensive overview of typical study costs in Canada:</p>

            <table>
              <thead>
                <tr>
                  <th>Field of Study</th>
                  <th>Undergraduate Tuition Fee (CAD)</th>
                  <th>Graduate Tuition Fee (CAD)</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Dentistry</td>
                  <td>40K CAD TO 90K CAD</td>
                  <td>30K CAD TO 80K CAD</td>
                </tr>
                <tr>
                  <td>Engineering</td>
                  <td>25K CAD TO 70K CAD</td>
                  <td>10K CAD TO 60K CAD</td>
                </tr>
                <tr>
                  <td>Business, Management, and Public Administration</td>
                  <td>20K CAD TO 60K CAD</td>
                  <td>10K CAD TO 50K CAD</td>
                </tr>
                <tr>
                  <td>Architecture</td>
                  <td>15K CAD TO 80K CAD</td>
                  <td>14K CAD TO 75K CAD</td>
                </tr>
              </tbody>
            </table>

            <p>For detailed information on study costs in Canada, including breakdowns of tuition fees and living expenses, check out our detailed post here.</p>
          </div>

          <!-- Canada Content -->
          <div class="tab-pane" id="Scholarship_Opportunity">
            <h3 class="united-states__title mb-15">Scholarship Opportunity For Students to Study in Canada</h3>

            <p>For students aspiring to study in Canada, there are various scholarship opportunities available to help offset the costs of education.</p>
            <ul>
              <li style="list-style: disc;">
                <b>Canada Graduate Scholarships-Master's Program (CGS M) </b>- High-achieving students pursuing a master's degree in any field are eligible for this scholarship.
              </li>
              <li style="list-style: disc;">
                <b>Vanier Canada Graduate Scholarships </b>- The Vanier CGS program aims to attract and retain world-class doctoral students by offering significant financial support to those who
                demonstrate leadership skills, academic excellence, and research potential.
              </li>
              <li style="list-style: disc;">
                <b>Ontario Trillium Scholarships (OTS)</b>- International Ph.D. students studying in Ontario are eligible to receive OTS. It offers financial assistance to cover costs associated with
                research, living expenses, and tuition.
              </li>
              <li style="list-style: disc;">
                <b>Canada-ASEAN Scholarships and Educational Exchanges for Development (SEED)</b>- For short-term study or research exchanges in Canada, students from ASEAN member states can apply for
                scholarships through this program. Its goal is to boost educational collaboration between Canada and ASEAN nations.
              </li>
            </ul>
            <!-- Add Canada content here -->
            <p>For a detailed list of top universities in Canada, click here</p>
          </div>

          <div class="tab-pane" id="Intake_Details">
            <h3 class="united-states__title mb-15">Intake Details in Australia</h3>
            <!-- Add Canada content here -->

            <p>There are typically three main intakes for international students in Canada: winter intake (January/February), summer intake (May/June), and fall intake (September).</p>
            <p>However, intakes may or may not be available, depending on the institution and the particular program of study.</p>

            <style>
              table {
                width: 90%;
                border-collapse: collapse;
                margin: 20px;
                font-size: 16px;
              }

              th,
              td {
                border: 1px solid #ddd;
                padding: 10px;
                text-align: left;
              }

              th {
                background-color: #f2f2f2;
                color: red;
                text-align: center;
              }

              td {
                vertical-align: top;
              }

              td:nth-child(2) {
                text-align: left;
              }
            </style>
          </div>

          <div class="tab-pane" id="top_universities">
            <h3 class="united-states__title mb-15">Top Colleges & Universities to Study in Canada</h3>
            <p>Some of the top colleges to study in Canada are:</p>
            <ul>
              <li style="list-style-type: disc;">ALGOMA UNIVERSITY</li>
              <li style="list-style-type: disc;">UNIVERSITY OF SASKATCHEWAN</li>
              <li style="list-style-type: disc;">UNIVERSITY OF REGINA</li>
              <li style="list-style-type: disc;">MOUNT SAINT VINCENT UNIVERSITY</li>
              <li style="list-style-type: disc;">The University of British Columbia</li>
              <li style="list-style-type: disc;">University of toronto</li>
            </ul>
            <p>For a detailed list of top universities in Canada, click here</p>
          </div>

          <div class="tab-pane" id="Living_Costs">
            <h3 class="united-states__title mb-15">Living Costs in Canada</h3>
            <p>
              The location, way of life, and choice of housing all affect how much it costs to live in Canada for international students. Depending on the city, a one-bedroom apartment can cost between CAD 1000 and CAD 2000 per month to rent, while student housing or shared housing can cost between CAD 600 and CAD 1500 per month. The cost of food on a monthly basis can be anywhere from CAD 200 to CAD 400, and the cost of transportation on a monthly basis can be anywhere from CAD 75 to CAD 150.
            </p>
          </div>

          <div class="tab-pane" id="life_in_canada">
            <h3 class="united-states__title mb-15">Life in Canada</h3>

            <p>
              Canada is a diverse and welcoming place to live for international students. Students are drawn to the school's multicultural atmosphere, high-quality education, and numerous opportunities for personal and professional growth. Students from all over the world can take advantage of Canada's vibrant cities, stunning natural landscapes, and safe environment for an enriching education.
            </p>
          </div>

          <div class="tab-pane" id="Conclusion">
            <h3 class="united-states__title mb-15">Conclusion</h3>
            <p>
              The journey to study in Canada with A One Global Consultants promises a path to academic excellence, cultural enrichment, and personal growth. In one of the world's most innovative and
              educational locations, our dedicated staff seamlessly supports students in achieving their objectives.
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-bottom:150px"></div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Function to handle tab switching
    function handleTabSwitch(tabButtons, tabPanes) {
      tabButtons.forEach((button) => {
        button.addEventListener("click", function (event) {
          event.preventDefault();

          // Remove active class from all tab buttons and tab panes
          tabButtons.forEach((btn) => btn.classList.remove("active"));
          tabPanes.forEach((pane) => pane.classList.remove("active"));

          // Add active class to the clicked tab button
          button.classList.add("active");

          // Add active class to the corresponding tab pane
          const targetPaneId = button.getAttribute("href").substring(1);
          const targetPane = document.getElementById(targetPaneId);
          targetPane.classList.add("active");
        });
      });
    }

    // Handle main country tabs
    const mainTabButtons = document.querySelectorAll("#mainTabs .nav-link");
    const mainTabPanes = document.querySelectorAll(".tab-content .tab-pane");
    handleTabSwitch(mainTabButtons, mainTabPanes);
  });
</script>
