<section>
    <div class="container">
      <div class="row">
        <div class="section-divider"></div>

        <div class="col-xxl-3 col-xl-3 col-lg-3">
          <ul class="nav nav-tabs" style="flex-direction: column;" id="mainTabs">
            <li class="nav-item">
              <a class="nav-link active" href="#VISA_Requirements" data-toggle="tab">VISA Requirements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Study_Cost" data-toggle="tab">Study Cost</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Scholarship_Opportunity" data-toggle="tab">Scholarship Opportunity</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Intake_Details" data-toggle="tab">Intake Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Conclusion" data-toggle="tab">Conclusion</a>
            </li>
          </ul>
        </div>

        <div class="col-xxl-9 col-xl-9 col-lg-9">
          <!-- Country Content -->
          <div class="tab-content">
            <!-- UK Content -->
            <div class="tab-pane active" id="VISA_Requirements">
              <h2 class="mb-15">VISA Requirements</h2>
              <p>
                Department of Home Affairs (DoHA) after many reviews have given<span style="color: #ff0000;"> International Student Visa a unique name as Visa Sub Class 500.</span> Previously it used
                to be lodged Paper Based Application where Pre Visa Approval was sent and then Visa Medical was done, Visa Subclass 501,502,503 then came SVP / Non SVP ( Streamlined Visa Processing (SVP)
                ) and currently SSVF (Simplified student visa framework). Dependents applying for their Visa in later phase falls under <span style="color: #ff0000;"
                  >Visa Sub Class 500 Subsequent Entrant.</span
                >
              </p>
              <p>
                SSVF simplifies and provides the combined evidence level outcomes of the student's education provider and country of citizenship to guide whether the student needs to provide
                evidence of financial and English language capacity with their student visa application. Here the Risk Assessment Level from 1 to 5 has been provided for Country and Institution.
              </p>
              <p>
                The online document checklist tool advices students about the documents they need to provide with their student visa application based on their combined country and education
                provider evidence level outcomes.<br /><span style="color: #ff0000;">https://immi.homeaffairs.gov.au/visas/web-evidentiary-tool</span>
              </p>
              <!-- </h3> -->
              <!-- Add UK content here -->
            </div>

            <!-- Australia Content -->
            <div class="tab-pane" id="Study_Cost">
              <h3 class="united-states__title mb-15">Study Cost in Australia</h3>
              <p>
                The cost of living in Australia can vary widely based on a person's choices, lifestyle, and location. Living expenses can range anywhere from approximately AUD $20,000 to AUD $30,000
                per year. While prices may be higher in major cities, regional areas frequently offer less expensive options. When planning their finances, students should carefully budget and take
                into account things like rent, groceries, and transportation.
              </p>
              <p>
                With A One Global Consultants, you can study in Australia and get unmatched opportunities for academic excellence and personal development. Our dedicated team is committed to
                assisting students at every stage of their educational journey to ensure a rewarding and enriching experience.
              </p>
            </div>

            <!-- Canada Content -->
            <div class="tab-pane" id="Scholarship_Opportunity">
              <h3 class="united-states__title mb-15">Scholarship Opportunity</h3>

              <p>At A One Global Consultants, we are aware of how crucial it is to locate scholarships that will assist international students in achieving academic success in Australia.</p>
              <ul>
                <li style="list-style: disc;">
                  Australia Awards- These prestigious scholarships, which are provided by the government of Australia and support undergraduate and graduate degrees, are intended for students from
                  developing nations.
                </li>
                <li style="list-style: disc;">
                  Endeavour Scholarships and Fellowships- These are merit-based scholarships that allow professionals, international students, and researchers to study, conduct research, or advance
                  their careers in Australia.
                </li>
                <li style="list-style: disc;">
                  University-specific Scholarships- To attract talented international students, many Australian universities offer their own scholarships to cover tuition, living expenses, and even
                  travel costs.
                </li>
                <li style="list-style: disc;">
                  Research Scholarships- Scholarships are offered by a number of Australian organizations and institutions to research students pursuing a Ph.D. or Masters in research.
                </li>
                <li style="list-style: disc;">
                  Government-funded Scholarships- Scholarships are available from some Australian state and territory governments to international students, particularly those studying in regional
                  areas, to help them pay for their education and living costs.
                </li>
              </ul>
              <!-- Add Canada content here -->
            </div>
            <div class="tab-pane" id="Intake_Details">
              <h3 class="united-states__title mb-15">Intake Details in Australia</h3>
              <!-- Add Canada content here -->

              <p>International students typically enrol in two main intakes at Australian universities: July and August, respectively.</p>
              <p>
                The intake in February and March coincides with the first semester of the Australian academic year, whereas the intake in July and August coincides with the second semester. For
                certain programs, some institutions may also offer a mid-year intake in November or December.
              </p>
              <p>Check the specific intake dates for the university and course you’ve chosen.</p>

              <style>
                table {
                  width: 90%;
                  border-collapse: collapse;
                  margin: 20px;
                  font-size: 16px;
                }

                th,
                td {
                  border: 1px solid #ddd;
                  padding: 10px;
                  text-align: left;
                }

                th {
                  background-color: #f2f2f2;
                  color: red;
                  text-align: center;
                }

                td {
                  vertical-align: top;
                }

                td:nth-child(2) {
                  text-align: left;
                }
              </style>

              <table>
                <thead>
                  <tr>
                    <th>Level of Education</th>
                    <th>Intakes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Diploma or Advanced Diploma (VET)</td>
                    <td>
                      Every Month OR<br />
                      Every Alternate Month
                    </td>
                  </tr>
                  <tr>
                    <td>Diploma (Higher Education)</td>
                    <td>
                      Feb – March<br />
                      June – July<br />
                      Oct – Nov
                    </td>
                  </tr>
                  <tr>
                    <td>Bachelor’s Degree</td>
                    <td>
                      Feb – March<br />
                      June – July<br />
                      Oct – Nov
                    </td>
                  </tr>
                  <tr>
                    <td>Masters Coursework</td>
                    <td>
                      Feb – March<br />
                      June – July<br />
                      Oct – Nov
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane" id="Conclusion">
              <h3 class="united-states__title mb-15">Conclusion</h3>
              <p>
                With A One Global Consultants, you can study in Australia and get unmatched opportunities for academic excellence and personal development. Our dedicated team is committed to
                assisting students at every stage of their educational journey to ensure a rewarding and enriching experience.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-bottom:150px"></div>
  </section>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Function to handle tab switching
      function handleTabSwitch(tabButtons, tabPanes) {
        tabButtons.forEach((button) => {
          button.addEventListener("click", function (event) {
            event.preventDefault();

            // Remove active class from all tab buttons and tab panes
            tabButtons.forEach((btn) => btn.classList.remove("active"));
            tabPanes.forEach((pane) => pane.classList.remove("active"));

            // Add active class to the clicked tab button
            button.classList.add("active");

            // Add active class to the corresponding tab pane
            const targetPaneId = button.getAttribute("href").substring(1);
            const targetPane = document.getElementById(targetPaneId);
            targetPane.classList.add("active");
          });
        });
      }

      // Handle main country tabs
      const mainTabButtons = document.querySelectorAll("#mainTabs .nav-link");
      const mainTabPanes = document.querySelectorAll(".tab-content .tab-pane");
      handleTabSwitch(mainTabButtons, mainTabPanes);
    });
  </script>
