<section>
    <div class="container">
      <div class="row">
        <div class="section-divider"></div>

        <div class="col-xxl-3 col-xl-3 col-lg-3">
          <ul class="nav nav-tabs" style="flex-direction: column;" id="mainTabs">
            <li class="nav-item">
              <a class="nav-link active" href="#VISA_Requirements" data-toggle="tab">VISA Requirements</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Study_Cost" data-toggle="tab">Study Cost</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Scholarship_Opportunity" data-toggle="tab">Scholarship Opportunity</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Intake_Details" data-toggle="tab">Intake Details</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#Conclusion" data-toggle="tab">Conclusion</a>
            </li>
          </ul>
        </div>

        <div class="col-xxl-9 col-xl-9 col-lg-9">
          <!-- Country Content -->
          <div class="tab-content">
            <!-- USA Content -->
            <div class="tab-pane active" id="VISA_Requirements">
              <h2 class="mb-15">VISA Requirements</h2>
            
              <p>
                To study in USA, you by and large need an understudy visa, like the F-1 or M-1 visa, contingent upon your course of study. Acceptance into a school approved by the Student and Exchange Visitor Program (SEVP), sufficient funds to cover tuition and living expenses, and proficiency in English are prerequisites.

              </p>
              <p>
                To demonstrate your intention to return after your studies, you will also need to demonstrate ties to your home country, such as family, employment, or property ownership.Filling out the Form DS-160, paying the fee for the visa, scheduling and attending a visa interview, and providing supporting documents are all part of the application process. To ensure a smooth application process, it is essential to check the specific requirements and timelines for your visa.
              </p>
              <!-- </h3> -->
              <!-- Add USA content here -->
            </div>

            <!-- USA Content -->
            <div class="tab-pane" id="Study_Cost">
              <h3 class="united-states__title mb-15">Study Cost in USA</h3>
              <p>
                The type of institution, location, and course of study all have an impact on how much it costs to study in the United States. The annual costs of studying in the United States can range anywhere from $20,000 to $70,000.

              </p>
              <p>
                With A One Global Consultants, you can study in USA and get unmatched opportunities for academic excellence and personal development. Our dedicated team is committed to
                assisting students at every stage of their educational journey to ensure a rewarding and enriching experience.
              </p>
            </div>

            <!-- Canada Content -->
            <div class="tab-pane" id="Scholarship_Opportunity">
              <h3 class="united-states__title mb-15">Scholarship Opportunity</h3>

              <p>At A One Global Consultants, we are aware of how crucial it is to locate scholarships that will assist international students in achieving academic success in USA.</p>
             <ul>
    <li style="list-style: disc;">
        <b>Fulbright Foreign Student Program-</b>
        <p>The Fulbright Program, which is supported by the government of the United States, provides international students with fully funded scholarships for graduate study, research, and teaching in the United States. Throughout the duration of the program, it covers living expenses, tuition, airfare, and health insurance.</p>
    </li>

    <li style="list-style: disc;">
        <b>Hubert H. Humphrey Fellowship Program-</b>
        <p>For experienced professionals from specified nations, this fellowship program provides a year of non-degree academic study and professional development in the United States. It covers educational cost, everyday costs, travel expenses, and medical coverage.</p>
    </li>

    <li style="list-style: disc;">
        <b>Gates Millennium Scholars Program-</b>
        <p>Supported by the Bill and Melinda Gates foundation, this program offers grants to exceptional minority students with critical monetary need to seek after undergrad study in the USA. It pays for books, living expenses, tuition, and fees for up to ten years.</p>
    </li>

    <li style="list-style: disc;">
        <b>International Students Academic Merit Scholarship-</b>
        <p>Many US colleges offer merit-based grants to international students based on academic achievement, leadership potential, and extracurricular involvement. Depending on the school and the program, these scholarships may cover all or some of the costs associated with tuition.</p>
    </li>

    
</ul>

              <!-- Add Canada content here -->
            </div>
            <div class="tab-pane" id="Intake_Details">
              <h3 class="united-states__title mb-15">Intake Details in USA</h3>
              <!-- Add Canada content here -->

              <p>In the United States, typical intake details include two main intakes: Spring (January/February) and fall (August/September). Summer (May/June) intakes may be available at some universities. It is essential to check each university's specific intake dates and deadlines because they differ for applications and admissions.
</p>
             
              <p>Check the specific intake dates for the university and course you’ve chosen.</p>

              <style>
                table {
                  width: 90%;
                  border-collapse: collapse;
                  margin: 20px;
                  font-size: 16px;
                }

                th,
                td {
                  border: 1px solid #ddd;
                  padding: 10px;
                  text-align: left;
                }

                th {
                  background-color: #f2f2f2;
                  color: red;
                  text-align: center;
                }

                td {
                  vertical-align: top;
                }

                td:nth-child(2) {
                  text-align: left;
                }
              </style>

              <table>
                <thead>
                  <tr>
                    <th>Level of Education</th>
                    <th>Intakes</th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <td>Diploma or Advanced Diploma (VET)</td>
                    <td>
                      Every Month OR<br />
                      Every Alternate Month
                    </td>
                  </tr>
                  <tr>
                    <td>Diploma (Higher Education)</td>
                    <td>
                      Feb – March<br />
                      June – July<br />
                      Oct – Nov
                    </td>
                  </tr>
                  <tr>
                    <td>Bachelor’s Degree</td>
                    <td>
                      Feb – March<br />
                      June – July<br />
                      Oct – Nov
                    </td>
                  </tr>
                  <tr>
                    <td>Masters Coursework</td>
                    <td>
                      Feb – March<br />
                      June – July<br />
                      Oct – Nov
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
            <div class="tab-pane" id="Conclusion">
              <h3 class="united-states__title mb-15">Conclusion</h3>
              <p>
                Your trusted partner in achieving your goal of study in USA  is A One Global Consultants. It will be easier to navigate the application process's complexities with our expert guidance and support. From choosing the right college to getting your visa, we're here to help you constantly. Choose A One Global Consultants for a hassle-free and fruitful journey to the United States of America.

              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div style="margin-bottom:150px"></div>
  </section>
  <script>
    document.addEventListener("DOMContentLoaded", function () {
      // Function to handle tab switching
      function handleTabSwitch(tabButtons, tabPanes) {
        tabButtons.forEach((button) => {
          button.addEventListener("click", function (event) {
            event.preventDefault();

            // Remove active class from all tab buttons and tab panes
            tabButtons.forEach((btn) => btn.classList.remove("active"));
            tabPanes.forEach((pane) => pane.classList.remove("active"));

            // Add active class to the clicked tab button
            button.classList.add("active");

            // Add active class to the corresponding tab pane
            const targetPaneId = button.getAttribute("href").substring(1);
            const targetPane = document.getElementById(targetPaneId);
            targetPane.classList.add("active");
          });
        });
      }

      // Handle main country tabs
      const mainTabButtons = document.querySelectorAll("#mainTabs .nav-link");
      const mainTabPanes = document.querySelectorAll(".tab-content .tab-pane");
      handleTabSwitch(mainTabButtons, mainTabPanes);
    });
  </script>
