<section>
  <div class="container">
    <div class="row">
      <div class="section-divider"></div>

      <div class="col-xxl-3 col-xl-3 col-lg-3">
        <ul class="nav nav-tabs" style="flex-direction: column;" id="mainTabs">
          <li class="nav-item">
            <a class="nav-link active" href="#VISA_Requirements" data-toggle="tab">VISA Requirements</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Study_Cost" data-toggle="tab">Study Cost</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Scholarship_Opportunity" data-toggle="tab">Scholarship Opportunity</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Intake_Details" data-toggle="tab">Intake Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#Conclusion" data-toggle="tab">Conclusion</a>
          </li>
        </ul>
      </div>

      <div class="col-xxl-9 col-xl-9 col-lg-9">
        <!-- Country Content -->
        <div class="tab-content">
          <!-- UK Content -->
          <div class="tab-pane active" id="VISA_Requirements">
            <h2 class="mb-15">VISA Requirements</h2>
            <p>
              Typically, a Tier 4 (General) student visa is required to study in the UK. You must first be accepted into a course at a school with a license. After that, you will need to demonstrate that you are fluent in English and that you have sufficient funds to pay for your living expenses and tuition. You will also need to bring proof of your academic credentials, two passport-sized photographs, and a valid passport.
</span
              >
            </p>
            <p>
              If necessary, you may also require a tuberculosis test. When you have every one of the fundamental reports, you can apply on the web or at a visa application focused on your nation of origin. You can start your studies in the UK once you get your visa. Make a point to really look at the particular prerequisites and strategies for your nation prior to applying. Check out more information related to Visa.
            </p>
            <p>
              The online document checklist tool advices students about the documents they need to provide with their student visa application based on their combined country and education
              provider evidence level outcomes.
            <!-- </h3> -->
            <!-- Add UK content here -->
          </div>

          <!-- Australia Content -->
          <div class="tab-pane" id="Study_Cost">
            <h3 class="united-states__title mb-15">Study Cost in UK</h3>
            <p>
              Compared to the United States and Australia, the average cost of studying in the UK is lower. The university, course, and location all affect how much it costs to study in the UK. Tuition costs for international students typically range from £10,000 to £30,000 per year.


            </p>
            <p>
              With A One Global Consultants, you can study in UK and get unmatched opportunities for academic excellence and personal development. Our dedicated team is committed to
              assisting students at every stage of their educational journey to ensure a rewarding and enriching experience.
            </p>
          </div>

          <!-- Canada Content -->
          <div class="tab-pane" id="Scholarship_Opportunity">
            <h3 class="united-states__title mb-15">Scholarship Opportunity</h3>

            <p>There are various scholarship programs available for all students who want to study in UK.
            </p>
            <ul>
              <li style="list-style: disc;">
                  Chevening Scholarships - The British government provides these scholarships. They cover postgraduate students from other countries' tuition, travel, and living expenses in the UK. They select students who are intelligent, demonstrate leadership qualities, and are eager to make a difference in their home nation.
              </li>
              <li style="list-style: disc;">
                  Commonwealth Scholarships - These scholarships enable Commonwealth students to study in the United Kingdom. They pay for postgraduate courses at UK universities' tuition, travel, and living costs. They select students who want to help their home country and have good grades.
              </li>
              <li style="list-style: disc;">
                  Gates Cambridge Scholarships - These scholarships allow outstanding students from any nation other than the United Kingdom to attend the University of Cambridge and study there. They pay for travel, living costs, and tuition. They select students who excel academically, exhibit leadership qualities, and desire to assist others.
              </li>
              <li style="list-style: disc;">
                  Rhodes Scholarships - The University of Oxford offers these scholarships to outstanding students from around the world. They pay for travel, living costs, and tuition. They choose students who are smart, show leadership qualities, and want to change the world.
              </li>
              
          </ul>
          
            <!-- Add Canada content here -->
          </div>
          <div class="tab-pane" id="Intake_Details">
            <h3 class="united-states__title mb-15">Intake Details in UK</h3>
            <!-- Add Canada content here -->

            <p>
              In the UK, typical intake details include two main intakes: January and February and September/October respectively. For certain courses, additional intakes may also be offered in April/May or June/July by some universities. Check the specific intake dates and deadlines for the university and program you've chosen.

            </p>
            <p>Check the specific intake dates for the university and course you’ve chosen.</p>

            <style>
              table {
                width: 90%;
                border-collapse: collapse;
                margin: 20px;
                font-size: 16px;
              }

              th,
              td {
                border: 1px solid #ddd;
                padding: 10px;
                text-align: left;
              }

              th {
                background-color: #f2f2f2;
                color: red;
                text-align: center;
              }

              td {
                vertical-align: top;
              }

              td:nth-child(2) {
                text-align: left;
              }
            </style>

            <table>
              <thead>
                <tr>
                  <th>Level of Education</th>
                  <th>Intakes</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>Diploma or Advanced Diploma (VET)</td>
                  <td>
                    Every Month OR<br />
                    Every Alternate Month
                  </td>
                </tr>
                <tr>
                  <td>Diploma (Higher Education)</td>
                  <td>
                    Feb – March<br />
                    June – July<br />
                    Oct – Nov
                  </td>
                </tr>
                <tr>
                  <td>Bachelor’s Degree</td>
                  <td>
                    Feb – March<br />
                    June – July<br />
                    Oct – Nov
                  </td>
                </tr>
                <tr>
                  <td>Masters Coursework</td>
                  <td>
                    Feb – March<br />
                    June – July<br />
                    Oct – Nov
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
          <div class="tab-pane" id="Conclusion">
            <h3 class="united-states__title mb-15">Conclusion</h3>
            <p>
              It is now easier to study in the UK with A One Global Consultants. We support students from beginning to end to ensure their self-assurance throughout their educational journey. We provide support throughout the application process and ensure a smooth application process with our expert guidance. Come to us to discover your UK success potential!
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="margin-bottom:150px"></div>
</section>
<script>
  document.addEventListener("DOMContentLoaded", function () {
    // Function to handle tab switching
    function handleTabSwitch(tabButtons, tabPanes) {
      tabButtons.forEach((button) => {
        button.addEventListener("click", function (event) {
          event.preventDefault();

          // Remove active class from all tab buttons and tab panes
          tabButtons.forEach((btn) => btn.classList.remove("active"));
          tabPanes.forEach((pane) => pane.classList.remove("active"));

          // Add active class to the clicked tab button
          button.classList.add("active");

          // Add active class to the corresponding tab pane
          const targetPaneId = button.getAttribute("href").substring(1);
          const targetPane = document.getElementById(targetPaneId);
          targetPane.classList.add("active");
        });
      });
    }

    // Handle main country tabs
    const mainTabButtons = document.querySelectorAll("#mainTabs .nav-link");
    const mainTabPanes = document.querySelectorAll(".tab-content .tab-pane");
    handleTabSwitch(mainTabButtons, mainTabPanes);
  });
</script>
