<section class="tagent__area grey-bg-3 pt-110 pb-40">
  <div class="tagent__bg team_bg"></div>
  <div class="container">
    <div class="row">
      <div class="col-xxl-6 col-xl-6 col-lg-6 d-flex align-items-center">
        <div class="section_title_wrapper pr-70">
          <!-- <span class="subtitle"> Authorized Agents </span> -->
          <h2 class="section-title">A One Global Consultants – Your Study Abroad Experts</h2>
          <p class="pt-30 mb-40">
            A One Global Consultants (Arbitrated as A1 Global) is a newly incepted consultancy with a broadened scope and student services to facilitate students seeking education and career in abroad. Despite of its new registration, the foundational core of this consultancy is a pack of highly qualified and experienced educational counsellors and academic instructors. Each of foundational core has attained 15+ to 17+ years of industry experience and in-person tie-ups with National and International Institutions. The cumulative industry experience can be observed as an experience of 20+ years in the field of Educational Counselling and Abroad Study Processing. A1 Global Consultants is well positioned as a truly reliable educational consultancy in India. A1 Global is committed to upholding international standards and to enhancing students’ potential to match the quality of global education. 

          </p>
          <a href="#" class="theme-btn">Join With Us</a>
        </div>
      </div>
    </div>
  </div>
</section>
