<!-- Testimonail start -->
<section class="testimonail-area  pt-110 pb-190">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-xxl-10">
        <div class="section_title_wrapper text-center mb-50">
          <span class="subtitle"> Testimonials </span>
          <h2 class="section-title">
            What Clients Say About Us and <br /> Our Services
          </h2>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="textimonail-active owl-carousel">
        <div class="testimonail__wrapper">
          <div
            class="testimonail__wrapper__info d-flex align-items-center mb-25"
          >
            <div class="testimonail__wrapper__info__img">
              <img src="/img/testimonial/ts-1.png" alt="" />
            </div>
            <div class="testimonail__wrapper__info__author">
              <p class="h4 oswald">Karlosh Tremon</p>
              <span>Student</span>
            </div>
            <div class="testimonail__wrapper__info__quotes">
              <i class="flaticon-quote"></i>
            </div>
          </div>
          <div class="testimonail__wrapper__content">
            <p>
              Travellers from countries categorized under the high-risk list who
              are eligible to enter Germany, aged 12 and older, are obliged to
              present their vaccination certificates
            </p>
            <div class="testimonail__wrapper__content__reviews">
              <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li>(Switzerland Visa)</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="testimonail__wrapper">
          <div
            class="testimonail__wrapper__info d-flex align-items-center mb-25"
          >
            <div class="testimonail__wrapper__info__img">
              <img src="/img/testimonial/ts-2.png" alt="" />
            </div>
            <div class="testimonail__wrapper__info__author">
              <p class="h4 oswald">Daniel Groveria</p>
              <span>Business Man</span>
            </div>
            <div class="testimonail__wrapper__info__quotes">
              <i class="flaticon-quote"></i>
            </div>
          </div>
          <div class="testimonail__wrapper__content">
            <p>
              Travellers from countries categorized under the high-risk list who
              are eligible to enter Germany, aged 12 and older, are obliged to
              present their vaccination certificates
            </p>
            <div class="testimonail__wrapper__content__reviews">
              <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li>(Switzerland Visa)</li>
              </ul>
            </div>
          </div>
        </div>

        <div class="testimonail__wrapper">
          <div
            class="testimonail__wrapper__info d-flex align-items-center mb-25"
          >
            <div class="testimonail__wrapper__info__img">
              <img src="/img/testimonial/ts-3.png" alt="" />
            </div>
            <div class="testimonail__wrapper__info__author">
              <p class="h4 oswald">Michel Midester</p>
              <span>Traveller</span>
            </div>
            <div class="testimonail__wrapper__info__quotes">
              <i class="flaticon-quote"></i>
            </div>
          </div>
          <div class="testimonail__wrapper__content">
            <p>
              Travellers from countries categorized under the high-risk list who
              are eligible to enter Germany, aged 12 and older, are obliged to
              present their vaccination certificates
            </p>
            <div class="testimonail__wrapper__content__reviews">
              <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li>(Switzerland Visa)</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="testimonail__wrapper">
          <div
            class="testimonail__wrapper__info d-flex align-items-center mb-25"
          >
            <div class="testimonail__wrapper__info__img">
              <img src="/img/testimonial/ts-1.png" alt="" />
            </div>
            <div class="testimonail__wrapper__info__author">
              <p class="h4 oswald">Daniel Groveria</p>
              <span>Student</span>
            </div>
            <div class="testimonail__wrapper__info__quotes">
              <i class="flaticon-quote"></i>
            </div>
          </div>
          <div class="testimonail__wrapper__content">
            <p>
              Travellers from countries categorized under the high-risk list who
              are eligible to enter Germany, aged 12 and older, are obliged to
              present their vaccination certificates
            </p>
            <div class="testimonail__wrapper__content__reviews">
              <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li>(Switzerland Visa)</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="testimonail__wrapper">
          <div
            class="testimonail__wrapper__info d-flex align-items-center mb-25"
          >
            <div class="testimonail__wrapper__info__img">
              <img src="/img/testimonial/ts-2.png" alt="" />
            </div>
            <div class="testimonail__wrapper__info__author">
              <p class="h4 oswald">Dana Holly Joya</p>
              <span>Student</span>
            </div>
            <div class="testimonail__wrapper__info__quotes">
              <i class="flaticon-quote"></i>
            </div>
          </div>
          <div class="testimonail__wrapper__content">
            <p>
              Travellers from countries categorized under the high-risk list who
              are eligible to enter Germany, aged 12 and older, are obliged to
              present their vaccination certificates
            </p>
            <div class="testimonail__wrapper__content__reviews">
              <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li>(Switzerland Visa)</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="testimonail__wrapper">
          <div
            class="testimonail__wrapper__info d-flex align-items-center mb-25"
          >
            <div class="testimonail__wrapper__info__img">
              <img src="/img/testimonial/ts-1.png" alt="" />
            </div>
            <div class="testimonail__wrapper__info__author">
              <p class="h4 oswald">Linkon Dicruse</p>
              <span>Student</span>
            </div>
            <div class="testimonail__wrapper__info__quotes">
              <i class="flaticon-quote"></i>
            </div>
          </div>
          <div class="testimonail__wrapper__content">
            <p>
              Travellers from countries categorized under the high-risk list who
              are eligible to enter Germany, aged 12 and older, are obliged to
              present their vaccination certificates
            </p>
            <div class="testimonail__wrapper__content__reviews">
              <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li>(Switzerland Visa)</li>
              </ul>
            </div>
          </div>
        </div>
        <div class="testimonail__wrapper">
          <div
            class="testimonail__wrapper__info d-flex align-items-center mb-25"
          >
            <div class="testimonail__wrapper__info__img">
              <img src="/img/testimonial/ts-3.png" alt="" />
            </div>
            <div class="testimonail__wrapper__info__author">
              <p class="h4 oswald">Jonathon Deoya</p>
              <span>Student</span>
            </div>
            <div class="testimonail__wrapper__info__quotes">
              <i class="flaticon-quote"></i>
            </div>
          </div>
          <div class="testimonail__wrapper__content">
            <p>
              Travellers from countries categorized under the high-risk list who
              are eligible to enter Germany, aged 12 and older, are obliged to
              present their vaccination certificates
            </p>
            <div class="testimonail__wrapper__content__reviews">
              <ul>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li><i class="fas fa-star"></i></li>
                <li>(Switzerland Visa)</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- Testimonail end -->
