---
import { Image } from "astro:assets";
import medicalImage from "@assets/img/courses/medical.webp";
import managementImage from "@assets/img/courses/management.svg";
import engineeringImage from "@assets/img/courses/engineering.jpg";
import universityWesternAus from "@assets/img/country-img/uni/western-australia.jpg";
import universityQueensland from "@assets/img/country-img/uni/queensland.jpg";
import universitySaouthWales from "@assets/img/country-img/uni/unsw.jpg";
import melburnAustralia from "@assets/img/country-img/uni/melburn-australia.jpg";
---

<section>
  <div class="pt-5">
    <div class="container">
      <div class="row">
        <div class="col-xxl-6 col-xl-6 col-lg-6 mb-4">
          <h2>Top Courses in Canada</h2>
        </div>
      </div>
      <style>
        .card-courses {
          border-radius: 10px;
          box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
          background-color: #fff;
          padding: 15px;
          transition: 0.4s;
        }
      </style>
      <div class="row">
        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 mb-4">
          <div class="card-courses">
            <div>
              <div>
                <a href=""><Image src={managementImage} alt="" class="img-fluid" /> </a>
              </div>
              <div>
                <h3 class="mt-3 mb-4">
                  <a href="">Management Courses</a>
                </h3>
                <p>Gain global business insights and leadership skills from top international institutions in Canada</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 mb-4">
          <div class="card-courses">
            <div>
              <div>
                <a href=""><Image src={medicalImage} alt="" class="img-fluid" /> </a>
              </div>
              <div>
                <h3 class="mt-3 mb-4">
                  <a href="">Medical Courses</a>
                </h3>
                <p>Pursue advanced medical education and training at world-renowned universities in Canada</p>
              </div>
            </div>
          </div>
        </div>

        <div class="col-xxl-4 col-xl-4 col-lg-4 col-md-4 mb-4">
          <div class="card-courses">
            <div>
              <div>
                <a href=""><Image src={engineeringImage} alt="" class="img-fluid" /> </a>
              </div>
              <div>
                <h3 class="mt-3 mb-4">
                  <a href="">Engineering Courses</a>
                </h3>
                <p>Study cutting-edge engineering &amp; technology programs that offer hands-on experience in Canada</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
